<!DOCTYPE html>

<html lang="en">

 <head>

   <meta charset="UTF-8" />

   <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   <title>The Turtle Shelter Project</title>

   <link rel="stylesheet" href="/styles/styles.css">

 </head>

 <body>

   <div class="nav-menu">

     <header>

       <a href="index.html"><h1>Turtle Shelter Project</h1></a>

       <nav>

         <ul>

           <li><a href="sign-up.html">Volunteer</a></li>

           <li><a href="jen.html">Jen's Story</a></li>

           <li><a href="impact.html">Our Impact</a></li>

           <li><a href="about.html">About</a></li>

           <li><a href="donate.html">Donate</a></li>

           <button>

             <li><a href="#admin login">Admin Login</a></li>

           </button>

         </ul>

       </nav>

     </header>

   </div>


   <!-- Volunteer Form -->
   <div class="volunteer-form">

     <h2>Newsletter Signup Form</h2>


     <form action="/addNewsletter" method="post">


       <!-- Contact Info -->

       <label for="NewsletterEmail">Email</label>
       <input type="email" id="NewsletterEmail" name="NewsletterEmail" required/>

       <br>
        <button type="submit">Submit</button>

     </form>

   </div>

   <footer>

     &copy; 2024 The Turtle Shelter Project | turtleshelterproject@gmail.com |

     801-872-3190

   </footer>

 </body>

</html>