<!DOCTYPE html>

<html lang="en">

 <head>

   <meta charset="UTF-8" />

   <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   <title>Admin Dashboard</title>

   <link rel="stylesheet" href="/styles/styles.css" />

 </head>

 <body>

   <header>

     <h1>Admin Dashboard</h1>

     <button>Logout</button>

   </header>

   <div class="dashboard">

     <nav>

       <ul>

         <li><a href="internal.ejs">Home</a></li>

         <li><a href="user.ejs">User Maintenance</a></li>

         <li><a href="events.ejs">Events Maintenance</a></li>

         <li><a href="volunteer.ejs">Volunteer Maintenance</a></li>

       </ul>

     </nav>

   </div>

   <footer>&copy; 2024 The Turtle Shelter Project</footer>

 </body>

</html>